*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navTop{
    background-color: #333;
    opacity: 1;
    text-align: center;
   
}

.navTop a{
  font-family: sans-serif;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 20px 15px;
}


.banner img{
    display: block;
    margin: auto;
    width: 100%;
   
    filter: brightness(.6);
   
      
}

.banner{
    
    background: url(MANUFAX_pic/asset\ 1.png) center center  ;
    position: relative;
    width: 100%;
    height: 800px;
    
}


/* 在banner前面加個半透明黑色史背景突變暗 */
.banner::before{
    content: ''; 
    display: block; 
    position: absolute; 
    background-color: #000; 
    opacity: 0.6; 
    width: 100%; 
    height: 100%;
}

.header{
    width: 100%;
    position: absolute;
    top: 0;; 
    display: flex; 
   
}

.bannerText{
  height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #fff;   
}


/* 
.banner h1{
    font-size: 150px;
} */

.banner h1{

    position: absolute;
    color: #fff;
    font-family: sans-serif;
    top: 330px;
   left: 250px;
   font-size: 120px;
   letter-spacing: 5px;
}

.banner h2{
    text-align: center;
    position: absolute;
    color: #fff;
    font-family: sans-serif;
    top: 480px;
   left: 265px;
   font-size: 30px;
   font-weight: lighter;
   letter-spacing: 1px;
}

.bannerProject{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    position: absolute;
    bottom: 110px;
    left: 625px;
    text-align: center; 
    border-radius: 5px;
    padding: 20px 5px;
    width: 284px;  
    background-color: #2ac5f4;
}

.bannerProject:hover{
    background-color: #000;
}


.header nav{
    
    text-align: center;
    width: 100%;
    color: #000;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.header img{
    vertical-align: top;
    position: relative;
    left: 120px;
    top: 20px;
    display: block;
    margin: auto;
    padding: 10px;   
    filter: brightness(1);
}

.header a{
    text-decoration: none;
    color: #fff;
    display: inline-block; 
   line-height: 130px;
   padding: 0 20px;

}

.serviceHeader{
    text-align: center;
    font-family: sans-serif;
    margin: 150px 0 80px;
}


.service{
    margin: 50px auto 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    font-family: sans-serif;
}

.serviceItem{
 
    
    height: 250px;
    width: 300px;
    margin: 20px 40px;
}

.serviceItem h2{
    padding: 0 0 20px;
    font-size: 18px;
}

.history{
    height: 600px;
    background-color: #ddd;
    display: flex;
    padding: 0 100px;
}

.historyText, .history img{
width: 50%;
}

.historyText{
    
    font-family: sans-serif;
   align-self: center;
   margin: 20px 20px;
    

}

.history img{
   
    padding: 60px 20px 60px 0;
    width: 647px;
    height: 487px;
  
}

.historyText h1{
    padding: 20px 0;
    
}

.historyText h2{
    padding: 20px 0;
    font-size: 18px;
    font-weight: lighter;
}

