*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navTop{
    background-color: #333;
    opacity: 1;
    text-align: left ;
    position: relative;
    padding: 0 130px;
    
   
}

.navTop a{
  font-family: sans-serif;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 20px 15px;
}


.banner img{
    display: block;
    margin: auto;
    width: 100%;
   
    filter: brightness(.6);
   
      
}

.banner{
    
    background: url(MANUFAX_pic/asset\ 1-dark.jpg) center center   ;
    position: relative;
    width: 100%;
    height: 800px;
    
}


/* 在banner前面加個半透明黑色讓背景突變暗 */
/* .banner::before{
    content: ''; 
    display: block; 
    position: absolute; 
    background-color: #000; 
    opacity: .5; 
    width: 100%; 
    height: 100%;
} */

.header{
    width: 100%;
    position: absolute;
    top: 0;; 
    display: flex; 
   
}

.bannerText{
   
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #fff;   
}





.banner h1{
    padding: 10px;
    font-size: 130px;
    letter-spacing: 5px;
}

.banner h2{
    font-weight: lighter;
    font-size: 33px;
    letter-spacing: 1px;
}



.bannerProject{

    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #fff; 
    border-radius: 5px;
    background-color: #2ac5f4;
    height: 67px;
    width: 320px;
    position: relative;
    top: 60px;
  
}


.bannerProject:hover{
    background-color: #000;
}


.header nav{
    
    text-align: center;
    width: 100%;
    color: #000;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.header img{
    vertical-align: top;
    position: relative;
    left: 120px;
    top: 20px;
    display: block;
    margin: auto;
    padding: 10px;   
    filter: brightness(1);
}

.BuleA{
    color: #2ac5f4;
    text-decoration: none;
    display: inline-block; 
    padding: 0 20px;

}

.WhiteA{
    text-decoration: none;
    color: #fff;
    display: inline-block; 
   line-height: 130px;
   padding: 0 20px;

}

.header a{
    transition: .3s;
}

.header a:hover{
    color: #2ac5f4;
}


.serviceHeader{
    text-align: center;
    font-family: sans-serif;
    margin: 150px 0 80px;
}



.service{
    margin: 50px auto 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: sans-serif;
}

.serviceItem{
   
    height: 250px;
    width: 300px;
    margin: 20px 60px;
}

.serviceItem h2{
    padding: 0 0 20px;
    font-size: 18px;
}

.serviceItem p{
    font-weight: lighter;
    color: #666;
}

.history{
    height: 680px;
    background-color: #ddd;
    display: flex;
    padding: 0 100px;
}

.historyText, .history img{
width: 50%;
}

.historyText{
    
   font-family: sans-serif;
   align-self: center;
   margin: 20px 20px;
    

}

.history img{
   
    padding: 95px 20px 60px 0;
    width: 647px;
    height: 487px;
  
}

.historyText h1{
    padding: 50px 50px 30px;
    
}

.historyText h2{
    padding: 20px 50px 20px;
    font-size: 18px;
    font-weight: lighter;
    color: #444;
}

.historyText p{
    padding: 0 50px 50px;
    color: #666;
}

.historyText a{
    text-align: center;
    line-height: 50px;
    color: #fff;
    display: inline-block;
    margin: 10px 50px 0px;
    width: 180px;
    height: 50px;
    text-decoration: none;
    background-color: #2ac5f4;
    
   
}

.historyText a:hover{
    background-color: #000;
}


.buildingPic{
   display: block;
    display: flex;
    width: 100%;
    flex-wrap: wrap;   
    height: 680px;
}

.buildingPic div{
    width: 25%;
    font-size: 20px;
    font-family: sans-serif;
    color: #ddd;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center; 

}

.COMMERCIAL{
    background-image: url(MANUFAX_pic/asset\ 9.jpeg) ;
    background-size:  480px 375px;  
}

.LIFESTYLE{
    background-image: url(MANUFAX_pic/asset\ 10.jpeg);
    background-size:  480px 375px;  
}

.TECHNOLOGY{
    background-image: url(MANUFAX_pic/asset\ 11.jpeg);
    background-size:  480px 375px;  

}

.EDUCATIONAL{
    background-image: url(MANUFAX_pic/asset\ 12.jpeg);
    background-size:  480px 375px;  
}

.MILITARY{
    background-image: url(MANUFAX_pic/asset\ 13.jpeg);
    background-size:  480px 375px;  

}

.HEALTHCARE{
    background-image: url(MANUFAX_pic/asset\ 14.jpeg);
    background-size:  480px 375px;  

}

.INDUSTRIAL{
    background-image: url(MANUFAX_pic/asset\ 15.jpeg);
    background-size:  480px 375px;
}

.LOGISTICS{
    background-image: url(MANUFAX_pic/asset\ 16.jpeg);
    background-size:  480px 375px;
}



.buildingPic img{
 
   width: 25%;
   height: 320px;
   
}


.recentHeader{
    font-family: sans-serif;
    text-align: center;
    margin: 80px 0 50px;
    
}

.recentNews{
    
  
    
  
}

.recentNews h1{
    color: #222222;
    font-weight: lighter;
    font-size: 20px;
    padding: 30px 0;
}


.recentNews h3{
    font-size: 16px;
    padding: 0px 0 20px;
    font-weight: lighter;
}

.recentItems{
    width: 100%;
    padding: 0 20px;  
   
}

.recentItems img{
   vertical-align: top;
    width: 100%;
}



.seeallnewsArea{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;

}

.seeallnews{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: sans-serif;
    color: #fff; 
    border-radius: 3px;
    background-color: #2ac5f4;
    position: relative;  
    bottom: -30px;
    width: 180px;
    height: 50px;
    line-height: 50px;
    font-size: 13px;

}

.seeallnews:hover{
    background-color: #000;
}

.footer{
    
    font-family: sans-serif;
    font-weight: lighter;
    margin-top: 100px;
    background-color: #333;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    padding: 100px  0  0 50px;
   
    
}

.footerItems{
   
  
    width: 300px;
    padding: 0 0px;
    margin: 0 50px;
    
   

}


.footerItems li, .footerItems a{
    color: #ccc;
    text-decoration: none;
    padding: 20px 0 0;
    transition: .2s;
    
   
    
}


.footerItems h1{
    font-weight: lighter;
    color: #ccc;
    font-size: 18px;
    padding: 80px 0 0;
}

.footerItems img{
    padding: 50px 0 20px;
}

.footerItems p{
    color: #888;
}

.footerItems a:hover{
    color: #2ac5f4;
}



.bottom{
 
    background-color: #222;
    width: 100%;
    height: 40px;
    font-size: 15px;
    padding-left: 100px;
    padding-top: 18px;
    color: #888;
    font-family: sans-serif;
    font-weight: lighter;
}

.Zemez{
    text-decoration: none;
    color: #2ac5f4;
    font-weight: lighter;
}

/* .back-to-top{
    text-decoration: none;
    color: #2ac5f4;
    position: relative;
    left: 1000px;
    
} */










/* -------------------------------3D翻轉測試------------------------------- */



.building3D{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
   
}


.flip-box-front{
    background-image: url(MANUFAX_pic/asset\ 9.jpeg);
    background-size: 480px 350px;
   
}


.flip-box {
    background-color: transparent;
    width: 25%;
    height: 350px;
    perspective: 1000px; 
    
    /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
   background-image: url(MANUFAX_pic/asset\ 9.jpeg) ;
   background-size: 480px 350px ;
    color: #000;
    transform: rotateY(180deg);
  }