*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navTop{
    background-color: #333;
    opacity: 1;
    text-align: left ;
    position: relative;
    padding: 0 130px;
    
   
}

.navTop a{
  font-family: sans-serif;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 20px 15px;
}


.banner img{
    display: block;
    margin: auto;
    width: 100%;
   
    filter: brightness(.6);
   
      
}

.banner{
    
    background: url(MANUFAX_pic/asset\ 1-dark.jpg) center center  ;
    position: relative;
    width: 100%;
    height: 800px;
    
}


/* 在banner前面加個半透明黑色史背景突變暗 */
/* .banner::before{
    content: ''; 
    display: block; 
    position: absolute; 
    background-color: #000; 
    opacity: .5; 
    width: 100%; 
    height: 100%;
} */

.header{
    width: 100%;
    position: absolute;
    top: 0;; 
    display: flex; 
   
}

.bannerText{
   
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #fff;   
}





.banner h1{
    padding: 10px;
    font-size: 130px;
    letter-spacing: 5px;
}

.banner h2{
    font-weight: lighter;
    font-size: 33px;
    letter-spacing: 1px;
}



.bannerProject{

    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #fff; 
    border-radius: 5px;
    background-color: #2ac5f4;
    height: 67px;
    width: 320px;
    position: relative;
    top: 60px;
  
}


.bannerProject:hover{
    background-color: #000;
}


.header nav{
    
    text-align: center;
    width: 100%;
    color: #000;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.header img{
    vertical-align: top;
    position: relative;
    left: 120px;
    top: 20px;
    display: block;
    margin: auto;
    padding: 10px;   
    filter: brightness(1);
}

.BuleA{
    color: #2ac5f4;
    text-decoration: none;
    display: inline-block; 
    padding: 0 20px;

}

.WhiteA{
    text-decoration: none;
    color: #fff;
    display: inline-block; 
   line-height: 130px;
   padding: 0 20px;

}

.header a{
    transition: .3s;
}

.header a:hover{
    color: #2ac5f4;
}

.serviceHeader{
    text-align: center;
    font-family: sans-serif;
    margin: 150px 0 80px;
}


.service{
    margin: 50px auto 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: sans-serif;
}

.serviceItem{
 
    
    height: 250px;
    width: 300px;
    margin: 20px 60px;
}

.serviceItem h2{
    padding: 0 0 20px;
    font-size: 18px;
}

.history{
    height: 680px;
    background-color: #ddd;
    display: flex;
    padding: 0 100px;
}

.historyText, .history img{
width: 50%;
}

.historyText{
    
    font-family: sans-serif;
   align-self: center;
   margin: 20px 20px;
    

}

.history img{
   
    padding: 95px 20px 60px 0;
    width: 647px;
    height: 487px;
  
}

.historyText h1{
    padding: 20px 0;
    
}

.historyText h2{
    padding: 20px 0;
    font-size: 18px;
    font-weight: lighter;
}

.buildingPic{
   display: block;
    display: flex;
    width: 100%;

    flex-wrap: wrap;
    
    
}

.buildingPic img{
 
   width: 25%;
   height: 320px;
   
}


.recentHeader{
    font-family: sans-serif;
    text-align: center;
    margin: 80px 0 50px;
    
}

.recentNews{
    color: #777;
   
    font-family: sans-serif;   
    width: 1200px;  
    display: flex;
    margin: 30px auto 80px;
    
  
}

.recentNews h1{
    color: #222222;
    font-weight: lighter;
    font-size: 20px;
    padding: 30px 0;
}


.recentNews h3{
    font-size: 16px;
    padding: 0px 0 20px;
    font-weight: lighter;
}

.recentItems{
    width: 100%;
    padding: 0 20px;  
   
}

.recentItems img{
   vertical-align: top;
    width: 100%;
}



.seeallnewsArea{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;

}

.seeallnews{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: sans-serif;
    color: #fff; 
    border-radius: 5px;
    background-color: #2ac5f4;
    position: relative;  
    bottom: -30px;
    width: 180px;
    height: 50px;
    line-height: 53px;
    font-size: 13px;

}

.seeallnews:hover{
    background-color: #000;
}

.footer{
    
    font-family: sans-serif;
    font-weight: lighter;
    margin-top: 100px;
    background-color: #333;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    padding: 100px 50px 0;
   
    
}

.footerItems{
  
    width: 300px;
    padding: 0 0px;
    margin: 0 20px;
    
   

}


.footerItems li, .footerItems a{
    color: #ccc;
    text-decoration: none;
    padding: 20px 0 0;
    transition: .2s;
    
   
    
}


.footerItems h1{
    font-weight: lighter;
    color: #ccc;
    font-size: 18px;
    padding: 80px 0 0;
}

.footerItems img{
    padding: 50px 0 20px;
}

.footerItems p{
    color: #888;
}

.footerItems a:hover{
    color: #2ac5f4;
}

